extends layout

block content
  div.container#app
    div#bb_error_view
    div.row
      div#bb_search_view.span12.text-center
        img(src="/images/Octocat.png",style="width:560px")
        div.input-append
          h2 ghstr
          input(type="text",placeholder="username...")
          button.btn.btn-primary.btn-smail
            i.icon-search.icon-white
      div#bb_scroll_view.span12.offset1
        ul#bb_list_view.thumbnails
      div#loading.hide.text-center
        img(src="images/load.gif")
      div.span12.span12.text-center
        div#bb_loading_view
        p Copyright © polidog lab


  script#star-template(type='text/template')
    div.thumbnail
      <% if (org.avatar_url !== undefined) { %>
      | <img src="<%= org.avatar_url %>" data-src="holder.js/50x50" width="100">
      <% } %>
      div.caption
        h3 <%= repo.name %>
        p
        | <a class="btn btn-smail btn-primary" href="https://github.com/<%= repo.name %>" target="_blank"><i class="icon-book icon-white"></i> ページを見る</a> <a class="btn btn-smail" href="https://github.com/<%= repo.name.replace(/\/.*/,'') %>" target="_blank"><i class="icon-user"></i> <%= repo.name.replace(/\/.*/,'') %></a>
        p
          span.label.label-info registerd by
          <%= new Date(created_at).toLocaleString() %>

  script#error-template(type='text/template')
    div.alert.alert-error
      button.close(type="button",data-dismiss="alert")
      <%= message %>

append javascripts
  script(src="/javascripts/namespace.js")
  script(src="/javascripts/models/star.js")
  script(src="/javascripts/collections/stars.js")
  script(src="/javascripts/views/search_box.js")
  script(src="/javascripts/views/star_list.js")
  script(src="/javascripts/views/star.js")
  script(src="/javascripts/views/loading.js")
  script(src="/javascripts/app.js")
