doctype 5
html
  head
    title ghstr | github user started log
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
    block content
    block footer
    block javascripts
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/jade/0.27.7/jade.min.js")